Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [7]:
import pandas as pd

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on = ["movieId"], how = 'inner')
pvt = Total.pivot_table(index = ['title','movieId'], values = 'rating', aggfunc='mean')
pvt.head()

pvt=pvt.reset_index()

def classification(i):
    if i  <= 2:
        return 'низкий рейтинг'
    elif i  <= 4 and i >2:
        return 'средний рейтинг'
    elif i  > 4.5:
        return 'высокий рейтинг'
    
pvt['class'] = pvt['rating'].apply(classification)
pvt.head()

                                     title  movieId    rating            class
0         "Great Performances" Cats (1998)    51372  1.750000   низкий рейтинг
1                             $9.99 (2008)    74486  3.833333  средний рейтинг
2  'Hellboy': The Seeds of Creation (2004)    97757  2.000000   низкий рейтинг
3          'Neath the Arizona Skies (1934)    70121  0.500000   низкий рейтинг
4                   'Round Midnight (1986)    26564  2.250000  средний рейтинг

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [17]:
import pandas as pd

keywords = pd.read_csv('keywords.csv')
keywords.head()


geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

d = {}

for region in geo_data:
    
    spisok_gorodov = geo_data[region]
    
    d.update({key:value for key,value in zip(spisok_gorodov,
                                [region for i in spisok_gorodov])})
    
    
    
keywords['region'] = keywords['keyword'].map(d)
keywords['region'] = keywords['region'].fillna('undefined')
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

    1) В переменную years запишите список из всех годов с 1950 по 2010.

    2) Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
        для каждой строки пройдите по всем годам списка years
        если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
        если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

    3) Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

    4) Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [15]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
Total = ratings.merge(movies, on=["movieId"], how='inner')
Total.head()

years = []
for year in range(1950, 2010):
    years.append(year)




def production_year(title):
    for year in years:
        if str(year) in title:
            return year

    return 1900


Total['year'] = Total['title'].apply(production_year)
Total.head()

pvt = Total.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
pvt_sorted = pvt.sort_values(by = ['rating'], ascending = False)
pvt_sorted.head()

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539